.rutes-chat {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.rutes-chat-messages {
	flex-grow: 1;
	overflow-x: auto;
	overflow-y: overlay;
}

/* OVERWRITE SCROLL BAR HERE */
.rutes-chat-messages::-webkit-scrollbar {
	width: 6px;
}

.rutes-chat-messages::-webkit-scrollbar-track {
	border-radius: 10px;
}

.rutes-chat-messages::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.118);
	border-radius: 10px;
}

.rutes-isTyping {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	padding: 8px 15px;
	text-align: center;
	font-size: 0.95rem;
	color: #fff;
	background: rgba(32, 24, 55, 0.404);
	border-radius: 5px;
	z-index: 2000;
}
