.Rutes .AccountInfo .topSection {
	display: flex;
	gap: 15px;
}

.Rutes .AccountInfo .icon {
	margin-top: 7px;
	border: 2px solid rgb(175, 175, 175);
	border-radius: 5px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Rutes .AccountInfo .progressBar {
	margin: 20px 0 10px 0;
	position: relative;
	height: 5px;
	border-radius: 3px;
	background: #e1e1e1;
	overflow: hidden;
}

.Rutes .AccountInfo .progressBar div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--primaryColor);
}

.Rutes .AccountInfo .progressSection p {
	color: var(--lightText);
	font-size: 0.95rem;
}

.Rutes .AccountInfo .lightText {
	font-size: 0.95rem;
	margin-top: 3px;
}