.Layout aside {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	width: 300px;
	padding: 15px;
	height: 100vh;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13);
	display: flex;
	flex-direction: column;
	gap: 15px;
	z-index: 200;
	overflow: auto;
}

.Layout main {
	flex-grow: 1;
	overflow: auto;
}
