.rutes-Message {
	padding: 5px 0;
}

.rutes-Message-messageContent {
	display: inline-block;
	background-color: #fff;
	box-shadow: var(--boxShadow);
	font-size: 0.92rem;
	text-align: left;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 5px 8px;
	max-width: 200px;
}

.rutes-Message-messageContent h4 {
	font-size: 0.85rem;
	margin-bottom: 8px;
}

.rutes-Message-messageContent span {
	font-size: 0.8rem;
	color: var(--lightText);
	display: block;
	text-align: right;
}

.rutes-Message-messageContent p {
	margin-bottom: 8px;
}

.rutes-Message.fromSelf {
	text-align: right;
}

.fromSelf .rutes-Message-messageContent {
	background-color: var(--primaryColor);
	color: #fff;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 7px;
}


.fromSelf .rutes-Message-messageContent span {
  color: rgba(255, 255, 255, 0.595);
}