.FeedbackItem {
	margin-bottom: 10px;
	padding: 10px;
	font-size: 0.95rem;
}

.feedbackItem-details {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.FeedbackItem span {
	font-weight: bold;
	color: var(--lightText);
	font-size: 0.85rem;
}

.FeedbackItem .topSection {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.FeedbackItem .del {
	font-weight: bold;
	color: var(--primaryColor);
	font-size: 1.1rem;
	cursor: pointer;
}
